@font-face {
  font-family: myFont;
  src: url(Aaargh.ttf);
}

h1 {
  text-align: center;
}

body {
  background-color: #99ff99;
  color: #0066ff;
  font-family: myFont;
}

#canvas {
  background-color: #99ffcc;
  width: inherit;
}
